<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <title>{{ page.title }} – ludchieng.fr</title>
  </head>
  <body>
    <header>
      <p id="logo">ludchieng.fr</p>
      <nav>
        <a href="/">Blog</a>
      </nav>
    </header>
    <main>
      <h1>{{ page.title }}</h1>
      <p class="publication-date">Publié le {{ page.published_date | date: "%d/%m/%Y" }}</p>
      {{ page.content }}
    </main>
  </body>
</html>
