<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <title>Index – ludchieng.fr</title>
  </head>
  <body>
    <header>
      <h1>ludchieng.fr</h1>
      <p class="subtitle">Be excellent to each other,<br /> Party on dudes.</p>
    </header>
    <main>
      {{ page.content }}
    </main>
  </body>
</html>
